<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Finish Input</title>
    <!-- Material Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet">
</head>
<body>
    <div class="container">
    <div class="menu-icon">
      <a href="/orders/{{ order_id }}/inputs"><span class="material-icons-outlined">arrow_back</span></a>
    </div>
  <h1>Finishing Input Details</h1>
  <link rel="stylesheet" href="{{url_for('static', filename='dpt.css')}}">
  <form action="/orders/{{ order_id }}/inputs/finish/save" method="post">
    <table>
      <tr>
        <td> <label for="item_no">Item no.:</label></td>
        <td> <input type="text" name="item_num" id="item_no" value="{{ data['item_num'] }}" disabled></td>
      </tr>
      <tr>
        <td> <label for="style_no">Style no.:</label></td>
        <td> <input type="text" name="style_num" id="style_no" value="{{ data['style_num'] }}" disabled></td>
      </tr>
      </tr>
        <td><label for="color_code">Color:</label></td>
        <td><input type="text" name="colour_code" id="color_code"></td>
      </tr>
      <tr>
        <td><label for="sizes">Size:</label></td>
        <td><input type="text" name="sizes" id="sizes"></td>
      </tr>
      <tr>
        <td><label for="cluster">Cluster no.:</label></td>
        <td><input type="number" name="cluster_num" id="cluster"></td>
      </tr>
      <tr>
        <td><label for="p_s_f_d">Planned start finish date:</label></td>
        <td><input type="date" name="p_s_f_d" id="p_s_f_d"></td>
      </tr>
      <tr>
        <td><label for="p_e_f_d">Planned end finish date:</label></td>
        <td><input type="date" name="p_e_f_d" id="p_e_f_d"></td>
      </tr>
      <tr>
        <td><label for="a_s_f_d">Actual start finish date:</label></td>
        <td><input type="date" name="a_s_f_d" id="a_s_f_d"></td>
      </tr>
      <tr>
        <td><label for="output_day">Planned Output/day:</label></td>
        <td><input type="number" name="output_per_day" id="output_day"></td>
      </tr>
      <tr>
        <td><label for="output">Planned Output:</label></td>
        <td><input type="number" name="output" id="output"></td>
      </tr>
    </table>
    <div class="btn">
      <a href="/orders/{{ order_id }}/inputs/finish/scan">Scan Barcode</a>
      <input type="submit" value="Save">
      <a href="/orders/{{ order_id }}/finish/report">Show Current Report</a>
      <a href="/orders/{{ order_id }}/inputs/finish/mark_complete">Mark As Complete</a>
    </div>
  </form>
</div>
</body>
</html>